h1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: left;
    font-family: sans-serif;
}
.priceChart {
    width: 70%;
    height: 70%;
    margin: 0;
    padding: 0;
}
form {
    border: 1px solid #009879;
    background: #c1f1e0;
    padding: 40px 50px 45px;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}
label {
    font-weight: 600;
}
.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}
.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

.data-row {
    display: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    max-width: 380px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#showMoreBtn {
    background: #009879;
    border: none;
    outline: none;
    width: 150px;
    padding: 12px 15px;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 20px auto;
    display: flex;
}

#showMoreBtn:hover {
    background: #2BCBAAFF;
}
